<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>81</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PapPet</string>
		<key>shortDescription</key>
		<string>Композиционный материал: многослойная упаковка из бумаги (картона) и пластика</string>
		<key>fullName</key>
		<string>Бумага(картон) / Пластик</string>
		<key>fullDescription</key>
		<string>Данный материал не относится к макулатуре, потому что для его переработки необходимо предварительно разделить все слои и переработать их отдельно. Несмотря на то, что такая упаковка отлично хранит продукты, и в теории данный материал возможно переработать, его производство и пераработка являются намного более сложными и дорогими процессами в сравнении с другими классическими материалами, а также образует довольно много промышленных отходов на этапе производст.\nПоэтому предпочтительнее будет упаковка из других материалов, которые легче перерабатываются (стекло, металл, популярные виды пластика).</string>
		<key>anotherNames</key>
		<string>TetraPak, PurePak</string>
		<key>examples</key>
		<string>Упаковки для кондитерских изделий, упаковка некоторых видов молока</string>
		<key>howToPrepare</key>
		<string>- Разрежь и отогни все уголки, чтобы тщательно промыть упаковку\n- Компактно сложи\n- Сними крышки, горлышки (по желанию)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>84</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>С/PAP</string>
		<key>shortDescription</key>
		<string>Композиционный материал: многослойная упаковка из бумаги (картона), пластика и алюминия</string>
		<key>fullName</key>
		<string>Бумага(картон) / Пластик / Алюминий</string>
		<key>fullDescription</key>
		<string>Данный материал не относится к макулатуре, потому что для его переработки необходимо предварительно разделить все слои и переработать их отдельно. Несмотря на то, что такая упаковка отлично хранит продукты, и в теории данный материал возможно переработать, его производство и пераработка являются намного более сложными и дорогими процессами в сравнении с другими классическими материалами, а также образует довольно много промышленных отходов на этапе производст.\nПоэтому предпочтительнее будет упаковка из других материалов, которые легче перерабатываются (стекло, металл, популярные виды пластика).</string>
		<key>anotherNames</key>
		<string>TetraPak, PurePak</string>
		<key>examples</key>
		<string>Упаковки для сока, некоторых видов молока</string>
		<key>howToPrepare</key>
		<string>- Разрежь и отогни все уголки, чтобы тщательно промыть упаковку\n- Компактно сложи\n- Сними крышки, горлышки (по желанию)</string>
	</dict>
</array>
</plist>
