<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>70</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>GL</string>
		<key>shortDescription</key>
		<string>Самая экологичная упаковка, которая может быть переработана на 100%, не теряя своих свойств.</string>
		<key>fullName</key>
		<string>Бесцветное стекло</string>
		<key>fullDescription</key>
		<string>Стекло инертно, то есть оно не вступает во взаимодействие с окружающей средой и приносит наименьший вред на свалке относительно других материалов. В процессе разрушения измельчается снова на кварцевый песок.\n\nВажно: оконное стекло, битое стекло принимают не везде - об их сдаче нужно узнавать отдельно. Керамическая и стеклянная посуда, оптическое стекло, зеркала, хрусталь и лампочки не принимаются в переработку.</string>
		<key>anotherNames</key>
		<string>GLS</string>
		<key>examples</key>
		<string>Бутылки и банки из-под напитков и продуктов</string>
		<key>howToPrepare</key>
		<string>- Сполосни от остатков пищи\n- Сними с банок крышки, пробки и другие посторонние материалы\n- Удали этикетки (по желанию)\n- Битое стекло(если его можно сдать) сложи отдельно</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>71</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>GL</string>
		<key>shortDescription</key>
		<string>Самая экологичная упаковка, которая может быть переработана на 100%, не теряя своих свойств.</string>
		<key>fullName</key>
		<string>Зелёное стекло</string>
		<key>fullDescription</key>
		<string>Стекло инертно, то есть оно не вступает во взаимодействие с окружающей средой и приносит наименьший вред на свалке относительно других материалов. В процессе разрушения измельчается снова на кварцевый песок.\n\nВажно: оконное стекло, битое стекло принимают не везде - об их сдаче нужно узнавать отдельно. Керамическая и стеклянная посуда, оптическое стекло, зеркала, хрусталь и лампочки не принимаются в переработку.</string>
		<key>anotherNames</key>
		<string>GLS</string>
		<key>examples</key>
		<string>Бутылки из-под напитков</string>
		<key>howToPrepare</key>
		<string>- Сполосни от остатков пищи\n- Сними с банок крышки, пробки и другие посторонние материалы\n- Удали этикетки (по желанию)\n- Битое стекло(если его можно сдать) сложи отдельно</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>72</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>GL</string>
		<key>shortDescription</key>
		<string>Самая экологичная упаковка, которая может быть переработана на 100%, не теряя своих свойств.</string>
		<key>fullName</key>
		<string>Коричневое стекло</string>
		<key>fullDescription</key>
		<string>Стекло инертно, то есть оно не вступает во взаимодействие с окружающей средой и приносит наименьший вред на свалке относительно других материалов. В процессе разрушения измельчается снова на кварцевый песок.\n\nВажно: оконное стекло, битое стекло принимают не везде - об их сдаче нужно узнавать отдельно. Керамическая и стеклянная посуда, оптическое стекло, зеркала, хрусталь и лампочки не принимаются в переработку.</string>
		<key>anotherNames</key>
		<string>GLS</string>
		<key>examples</key>
		<string>Бутылки из-под напитков</string>
		<key>howToPrepare</key>
		<string>- Сполосни от остатков пищи\n- Сними с банок крышки, пробки и другие посторонние материалы\n- Удали этикетки (по желанию)\n- Битое стекло(если его можно сдать) сложи отдельно</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>74</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>GL</string>
		<key>shortDescription</key>
		<string>Самая экологичная упаковка, которая может быть переработана на 100%, не теряя своих свойств.</string>
		<key>fullName</key>
		<string>Тёмно-коричневое стекло</string>
		<key>fullDescription</key>
		<string>Стекло инертно, то есть оно не вступает во взаимодействие с окружающей средой и приносит наименьший вред на свалке относительно других материалов. В процессе разрушения измельчается снова на кварцевый песок.\n\nВажно: оконное стекло, битое стекло принимают не везде - об их сдаче нужно узнавать отдельно. Керамическая и стеклянная посуда, оптическое стекло, зеркала, хрусталь и лампочки не принимаются в переработку.</string>
		<key>anotherNames</key>
		<string>GLS</string>
		<key>examples</key>
		<string>Бутылки из-под напитков, флаконы </string>
		<key>howToPrepare</key>
		<string>- Сполосни от остатков пищи\n- Сними с банок крышки, пробки и другие посторонние материалы\n- Удали этикетки (по желанию)\n- Битое стекло(если его можно сдать) сложи отдельно</string>
	</dict>
</array>
</plist>
