<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PET</string>
		<key>shortDescription</key>
		<string>Распространённая в России упаковка из пластика, популярная у заготовителей и переработчиков.</string>
		<key>fullName</key>
		<string>Полиэтилентерефталат</string>
		<key>fullDescription</key>
		<string>PET-упаковка бывает трёх видов:\n - Выдувная(банки и бутылки с характерной точкой на дне)\n- PET-коррекс (листовой пластик, из которого выдавливают упаковку типа контейнеров)\n- Плёнка.\nКаждая из разновидностей имеет разную плотность, поэтому перерабатывается отдельно друг от друга.Листовой PET и плёнку принимают намного реже и на это нужно обращать внимание при выборе пункта приёма.\n\nPET-бутылки от напитков собирают повсеместно — это наиболее популярный вид пластика у заготовителей «бытового» вторсырья, соперничать с которым могут разве что макулатура и металлы, поэтому PET-бутылки от напитков можно сдать во всех контейнерах и пунктах приёма, которые заявляют, что принимают пластик. Часто это вообще единственный вид пластика, который принимают.</string>
		<key>anotherNames</key>
		<string>PETE, ПЭТ, ПЭТФ</string>
		<key>examples</key>
		<string>Бутылки для жидкостей (бытовой химии, напитков), контейнеров для еды (принимаются намного реже)</string>
		<key>howToPrepare</key>
		<string>- Помой упаковку\n- Сожми упаковку\n- Сними этикетки (по желанию)\n- Сними крышечки и кольца(по желанию)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>2</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>HDPE</string>
		<key>anotherNames</key>
		<string>PEHD, ПЭВП, ПЭНД, ПНД</string>
		<key>shortDescription</key>
		<string>Распространённая в России упаковка из пластика, популярная у заготовителей и переработчиков.</string>
		<key>fullName</key>
		<string>Полиэтилен высокой плотности (низкого давления)</string>
		<key>fullDescription</key>
		<string>Тара из ПНД  хорошо перерабатывается. Наряду с ПЭТ , ПНД тара собирается практически на всех пунктах приёма вторсырья, работающих с пластиком. Каждая из разновидностей имеет разную плотность, поэтому они перерабатываются отдельно друг от друга:\n- Тара\n- Плёнка (принимается не везде)</string>
		<key>examples</key>
		<string>Бутылки и флаконы для жидкостей (напитки, косметика, бытовая химия), крышки и кольца от бутылок, канистры, мусорные вёдра</string>
		<key>howToPrepare</key>
		<string>- Помой упаковку\n- Сожми упаковку\n- Сними этикетки (по желанию)\n- Сними крышечки и кольца(по желанию)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>3</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PVC</string>
		<key>anotherNames</key>
		<string>ПВХ</string>
		<key>shortDescription</key>
		<string>Термопластичный полимер винилхлорида</string>
		<key>fullName</key>
		<string>Поливинилхлорид</string>
		<key>fullDescription</key>
		<string>В зависимости от содержания пластификаторов, PVC может быть двух видов:\n- Пластикат. Этот тип мягкого PVC содержит пластификатор, придающий ему гибкость. Из него изготавливают пленки, напольные покрытия, PVC сапоги и т.д.\n- Винипласт. Жесткий тип пластмассы в основном применяется в строительстве, а также для производства оконного профиля и труб.\n\nСуществует мнение, что пластик PVC переработать нельзя. Это не так.В России есть технологии и предприятия, перерабатывающие сложные виды пластика, просто вся эта отрасль работает на отходах производств, складов, магазинов (обрезки, брак и т.п.), то есть с большими объемами одинакового вида отходов.Пластиковые отходы от физических лиц разнообразны. Даже если они вручную рассортированы, нет гарантии, что всё будет точно нужного вида пластика</string>
		<key>examples</key>
		<string>Оконные рамы, бутылки для химических продуктов, изоляция электропроводов и кабелей, искусственная кожа</string>
		<key>howToPrepare</key>
		<string>Очисти перед сдачей вторсырье от всего лишнего, особенно от пищевых отходов</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>4</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>LDPE</string>
		<key>anotherNames</key>
		<string>PELD, ПЭНП, ПВД, ПЭВД</string>
		<key>shortDescription</key>
		<string>ПВД — полиэтилен высокого давления. Из ПВД/LDPE делают, в основном, плёнку.</string>
		<key>fullName</key>
		<string>Полиэтилен низкой плотности (высокого давления)</string>
		<key>fullDescription</key>
		<string>Иногда ПВД встречается в виде отрывных крышек от двадцатилитровых бутылок из-под воды, банок, пищевых контейнеров, мягких крышек для тары из других видов пластика.
Чаще - пузырчатая плёнка или стрейч-плёнка. Такой вид пластика редко встречается в твёрдом виде, чаще всего это мягкий пластик.</string>
		<key>examples</key>
		<string>Плёнка (стрейч, пузырчатая), пищевые контейнеры, крышки, трубы, ведра</string>
		<key>howToPrepare</key>
		<string>Очисти перед сдачей вторсырье от всего лишнего, особенно от пищевых отходов</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>5</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PP</string>
		<key>anotherNames</key>
		<string>ПП</string>
		<key>shortDescription</key>
		<string>Термопластичный полимер пропилена (пропена)</string>
		<key>fullName</key>
		<string>Полипропилен</string>
		<key>fullDescription</key>
		<string>Из-за разнообразия тары из полипропилена и её схожести с тарой из полистирола заготовители сырья неохотно берут эти два вида пластика на переработку. К тому же, сначала надо собрать достаточно большой объём пластика (несколько тонн), а после этого отправить на завод по переработке. На данный момент полипропилен занимает 2-е место в мире среди полимеров по объёму потребления, с долей 26% уступая только полиэтилену (пластики 02 и 04). \n\nПолипропилен может быть мягким(пакеты) и твёрдым(крышки, тара), то есть иметь разную плотность, поэтому они перерабатываются разными методами и сдаются отдельно друг от друга</string>
		<key>examples</key>
		<string>Пластиковые стаканы для воды, упаковка из-под снеков или круп, корпуса бытовой техники и электроинструментов, крышки от тары</string>
		<key>howToPrepare</key>
		<string>Очисти перед сдачей вторсырье от всего лишнего, особенно от пищевых отходов</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>6</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PS</string>
		<key>anotherNames</key>
		<string>ПС</string>
		<key>shortDescription</key>
		<string>Термопластичный полимер линейной структуры. Полистирол является одним из конечных продуктов переработки углеродного сырья — нефти и природного газа</string>
		<key>fullName</key>
		<string>Полистирол</string>
		<key>fullDescription</key>
		<string>Из-за разнообразия тары из полипропилена и её схожести с тарой из полистирола заготовители сырья неохотно берут эти два вида пластика на переработку. К тому же сначала надо собрать достаточно большой объём пластика (несколько тонн), а после этого отправить на завод по переработке. К тому же, вспененный полистирол (часто называемый пенопластом) очень мало весит и занимает большой объём, плохо прессуется, поэтому в масштабах небольших пунктов приёма очень не рентабелен, хотя и перерабатывается.\n\nПолистирол может быть вспененным (поддоны из-под продуктов, пенопласт) и твёрдым (тара, крышки), то есть иметь разную плотность, поэтому они перерабатываются разными методами и сдаются отдельно друг от друга</string>
		<key>examples</key>
		<string>Одноразовая посуда, одноразовые стаканы для воды, поддоны из-под продуктов, упаковочный пенопласт</string>
		<key>howToPrepare</key>
		<string>- Помой упаковку\n- Сожми упаковку\n- Сними этикетки (по желанию)\n- Сними крышечки и кольца(по желанию)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>7</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>OTHER</string>
		<key>anotherNames</key>
		<string> </string>
		<key>shortDescription</key>
		<string>Смесь различных пластиков или полимеры, не имеющие своего кода переработки</string>
		<key>fullName</key>
		<string>Остальные виды пластика</string>
		<key>fullDescription</key>
		<string>Other - так называемый комбинированный пластик. Данная категория пластика совсем не принимается на переработку в России на данный момент, поэтому лучше найти альтернативу, так как его не получится куда-либо сдать. </string>
		<key>examples</key>
		<string>Упаковки корма для животных, сыра, кофе и других продуктов, &quot;биоразлагаемый&quot; пластик, </string>
		<key>howToPrepare</key>
		<string> </string>
	</dict>
</array>
</plist>
