<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>20</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PAP</string>
		<key>shortDescription</key>
		<string>Упаковочный материал, состоящий из склеенных бумажных слоев, как минимум один из которых представляет собой гофрированный (сложенный гармошкой) лист</string>
		<key>fullName</key>
		<string>Гофрированный картон</string>
		<key>fullDescription</key>
		<string>Макулатура бывает разных видов. Классификация видов макулатуры на группы, марки и сорта обеспечивает взаимопонимание между поставщиками и потребителями макулатуры. Кроме этого, каждой марке макулатуры соответствует свое направление переработки.\nДля переработки бумаги нужно в два раза меньше воды, чем для новой.\nИз переработанной макулатуры можно получить новую чистую бумагу, тару (всем известные кассеты для яиц) и даже строительные материалы: эковату и волокнистые плиты (для внутренней отделки помещений). \n\nВажно: чеки, фотобумага, обои, коробки из под соков и молока, и другие похожие на бумагу упаковки без должной маркировки не считаются макулатурой и принимаются отдельно либо не принимаются вообще</string>
		<key>anotherNames</key>
		<string>PCB</string>
		<key>examples</key>
		<string>Коробки от бытовой техники, продуктов, косметики</string>
		<key>howToPrepare</key>
		<string>-Убедись в отстуствии ламинации(тонкой плёнки): надорви край изделия, чтобы проверить это\n- Удали лишние пластиковые и металлические элементы (пружины, скрепки, ручки, плёнку, скотч)\n- Обязательно убедись в отсутствии пищевых пищевых отходов и грязи (жира, масла) на макулатуре - такая макулатура не принимается\n- Постарайся собрать всю макулатуру так, чтобы она занимала меньше места (Сложи коробки в плоскость, собери всё в кипы или сложи в одну коробку)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>21</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PAP</string>
		<key>shortDescription</key>
		<string>Виды картона, пригодные для дальнейшего использования в качестве волокнистого сырья.</string>
		<key>fullName</key>
		<string>Прочий картон</string>
		<key>fullDescription</key>
		<string>Макулатура бывает разных видов. Классификация видов макулатуры на группы, марки и сорта обеспечивает взаимопонимание между поставщиками и потребителями макулатуры. Кроме этого, каждой марке макулатуры соответствует свое направление переработки.\nДля переработки бумаги нужно в два раза меньше воды, чем для новой.\nИз переработанной макулатуры можно получить новую чистую бумагу, тару (всем известные кассеты для яиц) и даже строительные материалы: эковату и волокнистые плиты (для внутренней отделки помещений). \n\nВажно: чеки, фотобумага, обои, коробки из под соков и молока, и другие похожие на бумагу упаковки без должной маркировки не считаются макулатурой и принимаются отдельно либо не принимаются вообще</string>
		<key>anotherNames</key>
		<string></string>
		<key>examples</key>
		<string>Открытки, обложки книг, короб-упаковка</string>
		<key>howToPrepare</key>
		<string>-Убедись в отстуствии ламинации(тонкой плёнки): надорви край изделия, чтобы проверить это\n- Удали лишние пластиковые и металлические элементы (пружины, скрепки, ручки, плёнку, скотч)\n- Обязательно убедись в отсутствии пищевых пищевых отходов и грязи (жира, масла) на макулатуре - такая макулатура не принимается\n- Постарайся собрать всю макулатуру так, чтобы она занимала меньше места (Сложи коробки в плоскость, собери всё в кипы или сложи в одну коробку)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>22</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PAP</string>
		<key>shortDescription</key>
		<string>Виды бумаги, пригодные для дальнейшего использования в качестве волокнистого сырья.</string>
		<key>fullName</key>
		<string>Бумага</string>
		<key>fullDescription</key>
		<string>Макулатура бывает разных видов. Классификация видов макулатуры на группы, марки и сорта обеспечивает взаимопонимание между поставщиками и потребителями макулатуры. Кроме этого, каждой марке макулатуры соответствует свое направление переработки.\nДля переработки бумаги нужно в два раза меньше воды, чем для новой.\nИз переработанной макулатуры можно получить новую чистую бумагу, тару (всем известные кассеты для яиц) и даже строительные материалы: эковату и волокнистые плиты (для внутренней отделки помещений). \n\nВажно: чеки, фотобумага, обои, коробки из под соков и молока, и другие похожие на бумагу упаковки без должной маркировки не считаются макулатурой и принимаются отдельно либо не принимаются вообще</string>
		<key>anotherNames</key>
		<string></string>
		<key>examples</key>
		<string>Журналы и газеты, конверты, бумажные пакеты, бумага для печати</string>
		<key>howToPrepare</key>
		<string>-Убедись в отстуствии ламинации(тонкой плёнки): надорви край изделия, чтобы проверить это\n- Удали лишние пластиковые и металлические элементы (пружины, скрепки, ручки, плёнку, скотч)\n- Обязательно убедись в отсутствии пищевых пищевых отходов и грязи (жира, масла) на макулатуре - такая макулатура не принимается\n- Постарайся собрать всю макулатуру так, чтобы она занимала меньше места (Сложи коробки в плоскость, собери всё в кипы или сложи в одну коробку)</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>23</integer>
		<key>numberOfRecyclePoints</key>
		<integer>0</integer>
		<key>shortName</key>
		<string>PBD</string>
		<key>shortDescription</key>
		<string>Бумага с тонким восковым покрытием с обеих сторон. Она является водонепроницаемой и плотной</string>
		<key>fullName</key>
		<string>Вощёная бумага</string>
		<key>fullDescription</key>
		<string>Вощёная бумага широко используется в быту. Многие ей пользуются в процессе готовки или хранения продуктов. Вощёная бумага и подвиды на данный момент нигде не принимаются в переработку, так как такая бумага считается грязной и непригодной для этого процесса</string>
		<key>anotherNames</key>
		<string>PAP, PPB</string>
		<key>examples</key>
		<string>Пергамент для выпечки, калька</string>
		<key>howToPrepare</key>
		<string></string>
	</dict>
</array>
</plist>
